# DS-SF-34 | 02 | The `pandas` Library | Assignment | Starter Code

## The Bistro Meets `pandas`

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `numpy` (as `np`) and `pandas` (as `pd`).

In [1]:
import os
import numpy as np
import pandas as pd
import re

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-02-tips.csv` dataset.

In [2]:
# TODO
df = pd.read_csv("../datasets/dataset-02-bistro.csv")

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [3]:
# TODO
type(df)

pandas.core.frame.DataFrame

Answer: TODO

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [4]:
# TODO
print df.shape
print df.shape[0]

(244, 8)
244

Answer: TODO

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [5]:
# TODO
print df.shape[1]

8

Answer: TODO

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [6]:
# TODO
for x in df[:0]:
    print x

day
time
name
gender
is_smoker
party
check
tip

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [7]:
# TODO
df[0:2]

      day    time      name  gender  is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female      False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male      False      3  10.34  1.66

Answer: TODO

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [8]:
# TODO
df[len(df)-2:len(df)]

          day    time    name  gender  is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male      False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female      False      2  18.78  3.00

Answer: TODO

> ### Question 9.  Does the dataset contain any missing values?

In [9]:
# TODO
df.isnull().sum()

day          0
time         0
name         0
gender       0
is_smoker    0
party        0
check        0
tip          0
dtype: int64

Answer: TODO

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [10]:
# TODO
#df.is_smoker.unique()
#df.drop(['is_smoker'], axis = 1)
#del df['is_smoker']
df

          day    time      name  gender  is_smoker  party  check   tip
0      Sunday  Dinner  Kimberly  Female      False      2  16.99  1.01
1      Sunday  Dinner  Nicholas    Male      False      3  10.34  1.66
2      Sunday  Dinner     Larry    Male      False      3  21.01  3.50
3      Sunday  Dinner    Joseph    Male      False      2  23.68  3.31
4      Sunday  Dinner    Janice  Female      False      4  24.59  3.61
..        ...     ...       ...     ...        ...    ...    ...   ...
239  Saturday  Dinner     Kevin    Male      False      3  29.03  5.92
240  Saturday  Dinner    Sandra  Female      False      2  27.18  2.00
241  Saturday  Dinner      Carl    Male      False      2  22.67  2.00
242  Saturday  Dinner       Jon    Male      False      2  17.82  1.75
243  Thursday  Dinner    Brandi  Female      False      2  18.78  3.00

[244 rows x 8 columns]

Answer: TODO

> ### Question 11.  For which week days does the dataset has data for?

In [11]:
# TODO
df.day.unique()

array(['Sunday', 'Saturday', 'Thursday', 'Friday'], dtype=object)

Answer: TODO

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [12]:
# TODO
df.day.value_counts()

Saturday    87
Sunday      76
Thursday    62
Friday      19
Name: day, dtype: int64

Answer: TODO

> ### Question 13.  How much tip did waiters collect for each week day?

In [13]:
# TODO
print df.groupby(['day']).sum()

print "\n"

print df.groupby(by=['day'])['tip'].sum()

          is_smoker  party    check     tip
day
Friday        False     40   325.88   51.96
Saturday      False    219  1778.40  260.40
Sunday        False    216  1627.16  247.39
Thursday      False    152  1096.33  171.83


day
Friday       51.96
Saturday    260.40
Sunday      247.39
Thursday    171.83
Name: tip, dtype: float64

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [14]:
# TODO

#(df.groupby(['cluster', 'org'], as_index=False).mean().groupby('cluster')['time'].mean())

df.groupby(['day'], as_index=False).mean().groupby('day')['tip'].mean()

day
Friday      2.734737
Saturday    2.993103
Sunday      3.255132
Thursday    2.771452
Name: tip, dtype: float64

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [122]:
# TODO
df['average_tip_percentage'] = df.tip / df.check
print df.groupby(['day'], as_index=False).mean().groupby('day')['average_tip_percentage'].mean()
format()

day
Friday      0.169913
Saturday    0.153152
Sunday      0.166897
Thursday    0.161276
Name: average_tip_percentage, dtype: float64

Answer: TODO

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [115]:
# TODO
#df.head()
male = df.name[df.gender == 'Male']
female = df.name[df.gender == 'Female']
print len(male)
males = male.unique()
print len(males)

print len(female)
females = female.unique()
print len(females)

print np.intersect1d(males, females)

157
110
87
72
['Casey']

Answer: TODO

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [67]:
# TODO
print len(males) + len(females) + len(np.intersect1d(males,females))
# need to add in the one name that we KNOW is duplicated, which is Casey, belonging to both a male and a female

183

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [188]:
# TODO
kevin = df.name[df.name == 'Kevin']
if len(kevin) > 1: q = "s"
print len(kevin),"time" + q

4 times

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [121]:
# TODO
top_females = female.value_counts()
top_males = male.value_counts()
print "Top 3 Females:"
print top_females[0:3]
print "\n"
print "Top 3 Males:"
print top_males[0:3]

Top 3 Females:
Mary     4
Casey    3
Laura    3
Name: name, dtype: int64


Top 3 Males:
David    8
James    5
Casey    5
Name: name, dtype: int64

Answer: TODO

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

(check `numpy.intersect1d()`; it could come in handy)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [206]:
#Create average tips
tips_by_person = df.groupby('name')['tip'].sum() / df.groupby('name')['check'].sum()
#Sort values
tips_sorted = tips_by_person.sort_values(ascending=False)

#Print results
print tips_sorted.index[0],"was the best tipper, tipping","{0:.1f}%".format(tips_sorted[0] * 100),"and went",len(df.name[df.name == tips_sorted.index[0]]),"time(s)"
print tips_sorted.index[len(tips_sorted)-1],"was the worst tipper, tipping","{0:.1f}%".format(tips_sorted[len(tips_sorted)-1] * 100),"and went",len(df.name[df.name == tips_sorted.index[len(tips_sorted)-1]]),"time(s)"

Maryann was the best tipper, tipping 41.7% and went 1 time(s)
Jeremy was the worst tipper, tipping 3.6% and went 1 time(s)

In [207]:
for x in range(0,5):
    print tips_sorted.index[x],"was the #"+ str(x+1), "best tipper, tipping","{0:.1f}%".format(tips_sorted[x] * 100),"and went",len(df.name[df.name == tips_sorted.index[x]]),"time(s)"

print "\n"
for x in range(len(tips_sorted)-1,len(tips_sorted)-6,-1):
    print tips_sorted.index[x],"was the #"+ str(len(tips_sorted)-x), "worst tipper, tipping","{0:.1f}%".format(tips_sorted[x] * 100),"and went",len(df.name[df.name == tips_sorted.index[x]]),"time(s)"

Maryann was the #1 best tipper, tipping 41.7% and went 1 time(s)
Bailey was the #2 best tipper, tipping 32.6% and went 1 time(s)
Daniel was the #3 best tipper, tipping 31.4% and went 2 time(s)
Dennis was the #4 best tipper, tipping 28.1% and went 1 time(s)
Zackary was the #5 best tipper, tipping 26.6% and went 1 time(s)


Jeremy was the #1 worst tipper, tipping 3.6% and went 1 time(s)
Mildred was the #2 worst tipper, tipping 5.6% and went 1 time(s)
Destiny was the #3 worst tipper, tipping 5.7% and went 1 time(s)
Kimberly was the #4 worst tipper, tipping 5.9% and went 1 time(s)
Willie was the #5 worst tipper, tipping 6.7% and went 1 time(s)

Answer: TODO