# DS-SF-34 | 11 | Logistic Regression | Assignment | Starter Code

In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import linear_model, cross_validation

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

/Users/fabienheitz/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Probability, Odds, and Odds Ratios

**Probability:** The number of ways that an event can occur divided by the total number of possible outcomes.

The probability of drawing a red card from a standard deck of cards is 26/52 (50 percent).
The probability of drawing a club from that deck is 13/52 (25 percent).

> ### Question 1.  What's the probability of getting heads in a fair coin flip?

In [13]:
# TODO
# p = 0.5

In [22]:
def odds(p):
    return p / (1. - p)

def log_odds(p):
    odds_value = odds(p)
    return np.log(odds_value)

def sigmoid(logodds):
    return 1. / (1. + np.exp(-logodds))

p = 0.32
print p
print odds(p)
print log_odds(p)

print sigmoid(log_odds(p))

0.32
0.470588235294
-0.753771802376
0.32

The odds for an event is the ratio of the number of ways the event can occur compared to the number of ways it does not occur.

For example, using the same events as above, the odds for:
- Drawing a red card from a standard deck of cards is 1:1; and
- Drawing a club from that deck is 1:3.

> ### Question 2.  What's the odds of a fair coin flip?

In [ ]:
# TODO 
# 1:1

> ### Question 3.  Suppose that 18 out of 20 patients in an experiment lost weight while using diet A, while 16 out of 20  lost weight using diet B.  What's the probability of weight loss with diet A?  What's the odds?

In [ ]:
# TODO
# p = 0.9
# odds = 9:1

> ### Question 4.  What's the probablity of weight loss with diet B?  What are the odds?

In [ ]:
# TODO
# p = 0.8
# odds = 8:2

> ### Question 5.  What's the odds ratio?

In [ ]:
# TODO

## Bank Marketing

In [119]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-11-bank-marketing.csv'))

In [49]:
df.head()

,age,job,marital,education,default,...,campaign,pdays,previous,poutcome,c
0,30,unemployed,married,primary,no,...,1,-1,0,unknown,no
1,33,services,married,secondary,no,...,1,339,4,failure,no
2,35,management,single,tertiary,no,...,1,330,1,failure,no
3,30,management,married,tertiary,no,...,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,...,1,-1,0,unknown,no

In [51]:
df.columns

Index([u'age', u'job', u'marital', u'education', u'default', u'balance',
       u'housing', u'loan', u'contact', u'day', u'month', u'duration',
       u'campaign', u'pdays', u'previous', u'poutcome', u'c'],
      dtype='object')

In [53]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

> The dataset is related to the direct marketing campaigns (by phone) of a Portuguese banking institution.  The classification goal is to predict if the client will subscribe a term deposit (variable y).

Attributes Information:

- Input variables:
  - [Bank client data]
    - `age` (numeric)
    - `job`: type of job (categorical)
    - `marital`: marital status (categorical)
      - Note: `divorced` means divorced or widowed)
    - `education` (categorical)
    - `default`: has credit in default? (categorical)
    - `balance`: bank account balance (\$)
    - `housing`: has housing loan? (categorical)
    - `loan`: has personal loan? (categorical)
  - [Data related with the last contact of the current campaign]
    - `contact`: contact communication type (categorical)
    - `month`: last contact month of year (categorical)
    - `day_of_week`: last contact day of the week (categorical)
    - `duration`: last contact duration, in seconds (numeric)
      - Important note: this attribute highly affects the output target (e.g., if `duration = 0` then `y = 'no'`). Yet, the duration is not known before a call is performed.  Also, after the end of the call y is obviously known.  Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
  - [Other attributes]
    - `campaign`: number of contacts performed during this campaign and for this client (numeric)
    - `pdays`: number of days that passed by after the client was last contacted from a previous campaign (numeric)
      - 999 means client was not previously contacted
    - `previous`: number of contacts performed before this campaign and for this client (numeric)
    - `poutcome`: outcome of the previous marketing campaign (categorical)

- Output variable (desired target):
  - `y`: has the client subscribed a term deposit? (binary)

> Our goal is to develop a model the best predicts the outcome `y`, the success of the marketing campaign.

> ## Question 6.  Remove the categorical variables with the most number of distinct values

In [62]:
# TODO
for col in df.columns:
    print col,df[col].nunique()

age 67
job 12
marital 3
education 4
default 2
balance 2353
housing 2
loan 2
contact 3
day 31
month 12
duration 875
campaign 32
pdays 292
previous 24
poutcome 4
c 2

In [120]:
df2 = df.drop("month", axis = 1)
df2 = df2.drop("job", axis = 1)

In [68]:
for col in df2.columns:
    print col,df2[col].nunique()
    
#age balance day duration campaign pdays previous
#categoricals = ["job", "marital", "education", "default", "housing", "loan", "contact", "poutcome", "c"]
categoricals = ["marital", "education", "default", "housing", "loan", "contact", "poutcome", "c"]

age 67
marital 3
education 4
default 2
balance 2353
housing 2
loan 2
contact 3
day 31
duration 875
campaign 32
pdays 292
previous 24
poutcome 4
c 2

In [129]:
yes_nos = ["default", "housing", "loan", "c"]
for col in df2.columns:
    if col in categoricals:
        if col in yes_nos:
            print col, df2[col].unique()
            print df2[col].value_counts().index[0], df2[col].value_counts()[0]

#for col in df2.select_dtypes(include = "object").columns:
#    print column, df(col).unique()

default [0 1]
0 4445
housing [0 1]
1 1962
loan [0 1]
0 3830
c [0 1]
0 4000

In [124]:
def convert_to_binary(yes_no_string):
    if yes_no_string == "yes":
        return 1
    elif yes_no_string == "no":
        return 0
    else:
        return yes_no_string

In [130]:
for col in df2.columns:
    if col in yes_nos:
        df2[col] = df2[col].map(convert_to_binary)

Answer: TODO

> ## Question 7.  Recode all `yes`/`no` categorical variables with `0` as the most frequent value (then also append `"_no"` to the variable name), and `1` for the other (then leave the name unchanged)

In [138]:
df2.select_dtypes(include="object")

TypeError: include and exclude must both be non-string sequences

Index([u'age', u'marital', u'education', u'default', u'balance', u'housing',
       u'loan', u'contact', u'day', u'duration', u'campaign', u'pdays',
       u'previous', u'poutcome', u'c'],
      dtype='object')
Index([u'age', u'default', u'balance', u'housing', u'loan', u'day',
       u'duration', u'campaign', u'pdays', u'previous', u'c',
       u'marital_divorced', u'marital_married', u'marital_single',
       u'education_primary', u'education_secondary', u'education_tertiary',
       u'education_unknown', u'contact_cellular', u'contact_telephone',
       u'contact_unknown', u'poutcome_failure', u'poutcome_other',
       u'poutcome_success', u'poutcome_unknown'],
      dtype='object')

> ## Question 8.  Create binary/dummy variables for the other categorical variables

In [146]:
# TODO
#df2.select_dtypes(include = "object")
df3 = pd.get_dummies(df2)
df2.head()
df3.head()
print df2.columns
print df3.columns

Index([u'age', u'marital', u'education', u'default', u'balance', u'housing',
       u'loan', u'contact', u'day', u'duration', u'campaign', u'pdays',
       u'previous', u'poutcome', u'c'],
      dtype='object')
Index([u'age', u'default', u'balance', u'housing', u'loan', u'day',
       u'duration', u'campaign', u'pdays', u'previous', u'c',
       u'marital_divorced', u'marital_married', u'marital_single',
       u'education_primary', u'education_secondary', u'education_tertiary',
       u'education_unknown', u'contact_cellular', u'contact_telephone',
       u'contact_unknown', u'poutcome_failure', u'poutcome_other',
       u'poutcome_success', u'poutcome_unknown'],
      dtype='object')

> ## Question 9.  What should be your baseline for these binary variables (namely, which binary variables should you not include in your model)?

In [ ]:
# TODO

Answer: TODO

> ## Question 10.  What input variable in the dataset seems to predict the outcome quite well.  Why?

In [ ]:
# TODO

Answer: TODO

> ## Question 11.  Split the dataset into a training set (60%) and a testing set (the rest)

In [ ]:
# TODO

> ## Question 12.  Run a logistic regression with `age`, `marital` (the dummies), `default`, `balance`, `housing`, `loan`, `campaign`, `pdays`, `previous`?

In [ ]:
# TODO

> ## Question 13.  What is your training error?  What is your generalization error?  Does it make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 14.  Interpret your coefficients. (At least `marital_single`, `campaign`, and `default`).  Does your interpretation  make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 15.  What is your prediction for a 30 years old single female, a homeowner with a \$1,000 balance in the bank, without a loan, who has never been contacted before, and who has never defaulted

In [ ]:
# TODO

Answer: TODO